includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    excludePaths:
        - app/Exceptions/Handler.php
        - app/Http/Kernel.php
        - app/Providers/AuthServiceProvider.php
    level: 5