includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    excludePaths:
        - app/Exceptions/Handler.php
    level: 5
    checkMissingIterableValueType: false
